html {
  font-size: 20px;
}
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
h1 {
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 5px gray;
  border-bottom: solid 3px rgb(115,115,114);
}
.google-fonts {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}
.text-pink {
  color: rgb(255, 192, 203)
}
.text-blue {
  color: skyblue;
}
div p {
  font-weight: bold;
}